#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#score{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}


main{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #37556E;
    flex-direction: column;
}

.fa-left-long{
    color: white;
  }
  
  .fa-left-long:hover{
    color: white;
    text-shadow: 2px 2px #F9C301;
    
  
  }